@use "global" as *;

.contact-breadcrumbs{
  margin-bottom: rem(50);
  @include mq(md){
    margin-bottom: rem(136);
  }
}

.contact-breadcrumbs--complete{
  margin-bottom: rem(50);
  @include mq(md){
    margin-bottom: rem(150);
  }
}