@use "global" as *;

.top-campaign {
  padding-bottom: rem(79);
}

.top-campaign__title {
  margin-bottom: rem(28);
}

.top-campaign__btn {
  text-align: center;
}

@include mq (md) {
  .top-campaign {
    padding-bottom: rem(139);
    position: relative;
  }

  .top-campaign__title {
    margin-bottom: rem(40);
  }
}