@use "global" as *;

.top-blog{
  padding-top: rem(80);
  padding-bottom: rem(80);
}

.top-blog__title{
  margin-bottom: rem(24);
}

.top-blog__cards{
  max-width: rem(500);
  width: 100%;
  margin: 0 auto rem(40);
}

.top-blog__btn-wrapper{
  text-align: center;
}


@include mq (md){
  .top-blog{
    padding-top: rem(100);
    padding-bottom: rem(140);
    background-image: url("/assets/images/common/top-blog-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    position: relative;
  }

  .top-blog__inner{
    width: min(100%,100vw);
  }
  
  .top-blog__title{
    margin-bottom: rem(80);
  }

  .top-blog__title--pc{
    color: $white;
  }

  .top-blog__cards{
    margin: 0 0 rem(80);
    max-width: 100%;
  }
  
  .top-blog__image--whitefish{
    width: rem(437);
    position: absolute;
    top: rem(24);
    left: 0;
    left: calc(calc(50% - rem(30)) - min(43.0555vw,rem(620)));
  }

  .top-blog__image--bluefish{
    width: rem(301);
    transform: scale(-1,1);
    position: absolute;
    bottom: rem(-18);
    left: calc(calc(50% - rem(30)) - min(43.0555vw,rem(620)));
  }

}