@use "global" as *;

.top-blog{
  padding-top: rem(80);
  padding-bottom: rem(80);
}

.top-blog__title{
  margin-bottom: rem(24);
}

.top-blog__cards{
  margin-bottom: rem(40);
}

.top-blog__btn-wrapper{
  text-align: center;
}


@include mq (md){
  .top-blog{
    padding-top: rem(100);
    padding-bottom: rem(140);
    background-image: url("/assets/images/common/top-blog-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
  
  .top-blog__title{
    margin-bottom: rem(80);
  }

  .top-blog__title--pc{
    color: $white;
  }

  .top-blog__cards{
    margin-bottom: rem(80);
  }
  
}