@use "global" as *;

.top-voice {
  padding-bottom: rem(78);
}

.top-voice__title {
  margin-bottom: rem(43);
}

.top-voice__cards {
  margin-bottom: rem(40);
}

.top-voice__btn-wrapper {
  text-align: center;
}

@include mq (md) {
  .top-voice {
    padding-bottom: rem(139);
    position: relative;
  }

  .top-voice__inner {
    width: min(100%, 100vw);
  }

  .top-voice__title {
    margin-bottom: rem(30);
  }

  .top-voice__cards {
    margin-bottom: rem(80);
  }

  .top-voice__image--seahorse {
    width: rem(71);
    position: absolute;
    right: rem(30);
    bottom: rem(73);
  }
}