@use "global" as *;

.top-campaign__swiper {
  margin-bottom: rem(40);
  overflow: visible;
}

.top-campaign__swiper .swiper-slide {
  display: flex;
  height: auto;
}

@include mq (md) {

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: rem(80);
    height: rem(80);
    border: 1px solid $blue;
    border-radius: 50%;
    position: static;
    display: block;
    margin: 0;
    transition: 0.6s;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    opacity: 0.6;
  }

  .swiper-button-prev img,
  .swiper-button-next img {
    width: rem(40);
    margin-top: rem(36);
    margin-left: rem(20);
  }

  .swiper-button-prev img {
    transform: scale(-1, 1);
  }

  .top-campaign__swiper {
    margin-bottom: rem(80);
  }

  .top-campaign__swiper .swiper-slide {
    transition: transform 0.6s ease;
  }

  .top-campaign__swiper .swiper-slide-duplicate {
    visibility: visible;
  }

  .top-campaign__swiper-wrapper {
    margin-left: 0;
  }

  .top-campaign__swiper-btn {
    width: rem(240);
    height: rem(80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 12.5vw;
  }
}