@use "global" as *;

.about {
  @include mq(md){
    position: relative;
  }
}

.about__inner {
  @include mq(md){
    position: relative;
  }
}

.about__title {
  margin-bottom: rem(28);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.about__image {
  margin-bottom: rem(41);
  position: relative;
  @include mq(md){
    margin-bottom: 0;
  }
}

.about__image-small {
  width: 37.1%;
  aspect-ratio: 128 / 194;
  object-fit: cover;
  @include mq(md){
    width: 37.04%;
    aspect-ratio: 400 / 606;
  }
}

.about__image-big {
  width: 81.45%;
  aspect-ratio: 281 / 186;
  object-fit: cover;
  z-index: -1;
  position: relative;
  margin-left: auto;
  margin-top: clamp(rem(-270), -45.3vw, rem(-170));
  @include mq(md){
    width: 81.48%;
    aspect-ratio: 880 / 581;
    margin-top: clamp(rem(-527), -36.6vw, rem(-500));
  }
}

.about__image-big--sub{
  margin-top: 0;
  width: 100%;
}

.about__content {
  @include mq(md){
    display: flex;
    gap: rem(40);
    position: absolute;
    top: rem(306);
    right: rem(71);
  }
}

.about__content--sub{
  @include mq(md){
    top: rem(200);
    right: rem(68);
  }
}

.about__head {
  font-size: rem(40);
  font-family: $english-font;
  font-weight: $regular;
  line-height: 1;
  color: $blue;
  margin-bottom: rem(15.5);
  @include mq(md){
    font-size: rem(80);
    color: $white;
    margin-bottom: 0;
    line-height: 1.25;
  }
}

.about__head--sub{
  position: absolute;
  top: rem(25);
  margin-left: rem(24);
  color: $white;
  margin-bottom: 0;
  @include mq(md){
    position: static;
  }
}

.about__initial {
  text-transform: uppercase;
}

.about__text-wrapper {
  @include mq(md){
    width: rem(400);
  }
}

.about__text {
  font-size: rem(16);
  line-height: 1.5;
  color: $dark-green;
  margin-bottom: rem(50);
  @include mq(md){
    color: $white;
    margin-bottom: rem(40);
  }
}

.about__text--sub{
  margin-bottom: rem(35);
  @include mq(md){
    margin-top: rem(25);
    margin-bottom: 0;
  }
}

.about__btn{
  text-align: center;
}

.about::before {
  @include mq(md){
    content: "";
    background: url(../images/common/about-sango.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(194);
    height: rem(181);
    position: absolute;
    right: calc(50% - min(48vw, rem(637)));
    bottom: rem(-90);
  }
}

.about--sub::before{
  display: none;
}