@use "global" as *;

.blog-sub {
  position: relative;
  @include mq(md){
    display: flex;
    justify-content: space-between;
    gap: rem(80);
  }
}

.blog-sub__content{
  margin-bottom: rem(82);
  @include mq(md){
    width: 65.37%;
    margin-bottom: 0;
  }
}

.blog-sub__post{
  margin-bottom: rem(82);
  @include mq(md){
    width: 64.82%;
    margin-bottom: 0;
  }
}

.blog-sub__sidebar{
  @include mq(md){
    width: 27.2%;
  }
}



