@use "global" as *;

.blog__inner.inner {
  padding-left: rem(21);
  padding-right: rem(21);
}

.blog__title {
  margin-bottom: rem(28);
}

.blog__card-wrapper {
  margin-bottom: rem(40);
}

.blog__btn-wrapper {
  text-align: center;
}

@include mq (md) {
  .blog {
    position: relative;
    padding-top: rem(101);
  }

  .blog__inner.inner {
    padding-left: rem(30);
    padding-right: rem(30);
  }

  .blog__title {
    margin-bottom: rem(79);
  }

  .blog__title--pc {
    color: $white;
  }

  .blog__title--pc::first-letter {
    color: $white;
  }

  .blog__card-wrapper {
    margin-bottom: rem(80);
  }

  .blog__bg {
    height: rem(500);
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  .blog__image--whitefish {
    width: min(30.3472vw, rem(437));
    position: absolute;
    top: rem(24);
    left: calc(50% - min(48vw, rem(620)));
  }

  .blog__image--bluefish {
    width: rem(301);
    transform: scale(-1, 1);
    position: absolute;
    bottom: rem(-155);
    left: calc(50% - min(48vw, rem(620)));
  }
}