@use "global" as *;

.blog-post__time{
  font-size: rem(14);
  font-family: $english-font;
  line-height: 1.28;
  margin-bottom: rem(8);
  display: block;
  @include mq(md){
  }
}

.blog-post__title{
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1.34;
  margin-top: 0;
  margin-bottom: rem(24);
  padding-bottom: rem(4);
  border-bottom: 1px solid $blue;
  @include mq(md){
    font-size: rem(32);
    line-height: 1.41;
    padding-bottom: 0;
    margin-bottom: rem(40);
  }
}

.blog-post__content figure{
  margin-bottom: rem(24);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.blog-post__content img{
  aspect-ratio: 345 / 231;
  object-fit: cover;
  @include mq(md){
    aspect-ratio: 700 / 468;
  }
}

.blog-post p{
  margin-top: 0;
  margin-bottom: rem(24);
  font-size: rem(16);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.blog-post p:last-of-type{
  margin-bottom: 0;
  }

.blog-post ul{
  margin-bottom: rem(24);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.blog-post li{
  padding-left: rem(27);
  margin-bottom: rem(4);
  position: relative;
  @include mq(md){
  }
}
.blog-post li::before{
  content: "";
  background-image: url('../images/common/starfish-blue.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(18);
  height: rem(18);
  position: absolute;
  top: 0.75em;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  @include mq(md){
  }
}