@use "global" as *;

.campaign-sub {
position: relative;
}

.campaign-sub::before{
  content: "";
  background: url(../images/common/fish-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(120);
  height: rem(55);
  transform: scale(-1, 1);
  position: absolute;
  top: rem(-24);
  left: calc(50% - max(36vw, rem(172)));
  z-index: -1;
  @include mq(md){
    width: rem(301);
    height: rem(138);
  left: calc(50% - min(48vw, rem(620)));
  top: rem(-70);
  }
}

.campaign-sub__category {
  max-width: rem(400);
  width: 100%;
  margin: 0 auto rem(40);

  @include mq(md){
    max-width: 100%;
  }
}

.campaign-sub__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: rem(40);
  margin: 0 rem(33) rem(80);
  @include mq(md){
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: rem(80);
    grid-column-gap: rem(40);
    margin: 0 0 rem(80);
  }
}
