@use "global" as *;

.campaign {
  overflow: hidden;

  @include mq(md) {
    position: relative;
  }
}

.campaign__title {
  margin-bottom: rem(28);

  @include mq(md) {
    margin-bottom: rem(40);
  }
}

.campaign__btn-wrapper {
  text-align: center;
}

.campaign__swiper {
  margin-bottom: rem(40);
  overflow: visible;

  @include mq(md) {
    margin-bottom: rem(80);
  }
}

.campaign__swiper .swiper-slide {
  width: rem(280);
  @include mq(md) {
    width: rem(333);
  }
}

.campaign__swiper .swiper-slide-duplicate {
  @include mq(md) {
    visibility: visible;
  }
}

.campaign__swiper-wrapper {
  @include mq(md) {
    margin-left: 0;
  }
}

.campaign__swiper-btn {
  @include mq(md) {
    width: rem(240);
    height: rem(80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 12.5vw;
  }
}

.campaign__swiper-btn .swiper-button-next:after,
.campaign__swiper-btn .swiper-button-prev:after {
  @include mq(md) {
    display: none;
  }
}

.campaign__swiper-btn .swiper-button-prev,
.campaign__swiper-btn .swiper-button-next {
  @include mq(md) {
    width: rem(80);
    height: rem(80);
    border: 1px solid $blue;
    border-radius: 50%;
    position: static;
    display: block;
    margin: 0;
    transition: 0.6s;
  }
}

.campaign__swiper-btn .swiper-button-prev:hover,
.campaign__swiper-btn .swiper-button-next:hover {
  @include mq(md) {
    opacity: 0.6;
  }
}

.campaign__swiper-btn .swiper-button-prev img,
.campaign__swiper-btn .swiper-button-next img {
  @include mq(md) {
    width: rem(40);
    margin-top: rem(36);
    margin-left: rem(20);
  }
}

.campaign__swiper-btn .swiper-button-prev img {
  @include mq(md) {
    transform: scale(-1, 1);
  }
}