@use "global" as *;

.campaign {
  overflow: hidden;

  @include mq(md) {
    position: relative;
  }
}

.campaign__title {
  margin-bottom: rem(28);

  @include mq(md) {
    margin-bottom: rem(40);
  }
}

.campaign__swiper {
  padding-left: rem(10);
  margin-left: rem(-10);
  padding-bottom: rem(15);
  margin-bottom: calc(rem(40) - rem(15));
  margin-right: calc(50% - 50vw);
  @include mq(md) {
    margin-bottom: calc(rem(80) - rem(15));
  }
}

.campaign__swiper .swiper-slide {
  width: rem(280);
  @include mq(md) {
    width: rem(333);
  }
}

.campaign__swiper-button {
  @include mq(md) {
    width: rem(240);
    height: rem(80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 12.5vw;
  }
}

.campaign__swiper-button-prev,
.campaign__swiper-button-next {
  @include mq(md) {
    width: rem(80);
    height: rem(80);
    border: 1px solid $blue;
    border-radius: 50%;
    position: static;
    display: block;
    margin: 0;
    transition: 0.6s;
    cursor: pointer;
  }
}

.campaign__swiper-button-next:after,
.campaign__swiper-button-prev:after {
  @include mq(md) {
    display: none;
  }
}

.campaign__swiper-button-prev:hover,
.campaign__swiper-button-next:hover {
  @include mq(md) {
    opacity: 0.6;
  }
}

.campaign__swiper-button-arrow{
  position: relative;
}

.campaign__swiper-button-arrow::before{
  content: "";
  height: rem(6);
  position: absolute;
  width: rem(40);
  top: rem(37);
}

.campaign__swiper-button-arrow--prev::before{
  border-bottom: 1px solid $blue;
  border-left: 1px solid $blue;
  transform: skew(-47deg);
  left: rem(21);
}

.campaign__swiper-button-arrow--next::before{
  border-bottom: 1px solid $blue;
  border-right: 1px solid $blue;
  transform: skew(47deg);
  right: rem(-58);
}

.campaign__btn{
  text-align: center;
}