@use "global" as *;

.campaign-card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 0px #00000040;
}

.campaign-card__image img {
  aspect-ratio: 280 / 188;
  object-fit: cover;
  @include mq(md){
    aspect-ratio: 333 / 223;
  }
}

.campaign-card__image--sidebar img{
  aspect-ratio: 294 / 188;
  @include mq(md){
    aspect-ratio: 294 / 188;
  }
}

.campaign-card__content {
  padding: rem(16) rem(16) rem(24);
  @include mq(md){
    padding: rem(24) rem(16) rem(40);
  }
}

.campaign-card__content--sub{
  @include mq(md){
    padding: rem(23) rem(24) rem(39);
  }
}

.campaign-card__content--sidebar{
  padding: rem(16) rem(23) rem(24);
  @include mq(md){
    padding: rem(16) rem(23) rem(24);
  }
}

.campaign-card__category {
  font-size: rem(12);
  line-height: 1;
  color: $blue;
  padding: rem(8) rem(11.5);
  margin-bottom: rem(4);
  border: 1px solid $blue;
  display: inline-block;
  @include mq(md){
    padding: rem(10) rem(15.3);
  }
}

.campaign-card__title {
  font-size: rem(16);
  line-height: 1.5;
  color: $dark-green;
  margin-bottom: rem(7);
  padding-bottom: rem(8);
  border-bottom: 1px solid $blue;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;
  @include mq(md){
    margin-bottom: rem(17);
  }
}

.campaign-card__title--sub{
  margin-bottom: rem(7);
  @include mq(md){
    font-size: rem(24);
    padding-bottom: rem(2);
    margin-bottom: rem(24);
  }
}

.campaign-card__title--sidebar{
  justify-content: center;
  @include mq(md){
    margin-bottom: rem(7);
  }
}

.campaign-card__text {
  font-size: rem(14);
  line-height: calc(24 / 14);
  font-weight: $medium;
  text-align: center;
  margin-bottom: rem(8);
  color: $dark-green;
  width: 100%;
  @include mq(md){
    font-size: rem(16);
    line-height: 1.5;
    margin-right: rem(16);
    margin-bottom: rem(6.5);
  }
}

.campaign-card__text--sub{
  @include mq(md){
    margin-bottom: rem(8);
  }
}

.campaign-card__text--sidebar{
  @include mq(md){
    margin-right: 0;
    margin-bottom: rem(8);
    letter-spacing: -0.12em;
  }
}

.campaign-card__price {
  font-family: $english-sub-font;
  font-weight: $bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: rem(16);
  width: 100%;
  @include mq(md){
    gap: rem(25);
  }
}

.campaign-card__price--sub{
  @include mq(md){
    margin-bottom: rem(24);
    gap: rem(40);
  }
}

.campaign-card__price--sidebar{
  @include mq(md){
    gap: rem(16);
  }
}

.campaign-card__price-disabled {
  font-size: rem(20);
  color: $dark-green;
  display: inline-block;
  padding: 0 1px;
  position: relative;
  line-height: 1.1;
  @include mq(md){
    font-size: rem(24);
  }
}

.campaign-card__price-disabled::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: rem(3);
  background-color: #C94800;
  position: absolute;
  bottom: rem(11);
  @include mq(md){
    width: rem(90);
    bottom: rem(12);
  }
}

.campaign-card__price-disabled--sidebar::before{
    @include mq(md){
      width: 100%;
      bottom: rem(9);
  }
}

.campaign-card__price-disabled--sidebar{
  @include mq(md){
    font-size: rem(20);
  }
}

.campaign-card__price-current {
  font-size: rem(32);
  color: $blue;
  line-height: 1;
  @include mq(md){
    font-size: rem(40);
  }
}

.campaign-card__price-current--sidebar{
  @include mq(md){
    font-size: rem(32);
  }
}

.campaign-card__description{
  color: $dark-green;
  margin-bottom: rem(32);
}

.campaign-card__description-date{
  font-size: rem(16);
  font-weight: $bold;
  font-family: $english-sub-font;
  color: $blue;
  line-height: 1.125;
  margin: 0 auto rem(7);
  text-align: center;
}

.campaign-card__description-cta{
  font-size: rem(14);
  color: $blue;
  line-height: calc(18 / 14);
  margin: 0 auto rem(16);
  text-align: center;
}

.campaign-card__btn{
  margin: 0 auto;
  text-align: center;
}



