@use "global" as *;

.category {
  display: flex;
  flex-wrap: wrap;
  gap: rem(16) rem(21);
  justify-content: flex-start;
  @include mq(md){
    justify-content: flex-start;
    gap: rem(21) rem(32);
  }
}

.category__btn {
  font-size: rem(14);
  line-height: 1;
  padding-top: rem(9);
  padding-bottom: rem(9);
  text-transform: uppercase;
  text-align: center;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;
  width: calc((100% - rem(21)) / 2);
  transition: 0.3s;
  @include mq(md) {
    width: rem(162);
  }
}

.category__btn:hover{
  background-color: $blue;
  color: $white;
}
