@use "global" as *;

.common-contact{
  text-align: center;
  padding-top: rem(80);
  padding-bottom: rem(100);
  position: relative;
}

.common-contact__inner{

}
.common-contact__content{
  margin-bottom: rem(34.5);
}

.common-contact__logo{
  width: rem(174);
  margin: 0 auto rem(16);
  padding-bottom: rem(6);
  position: relative;
  filter: drop-shadow(0px 4px 4px #00000040);
}

.common-contact__logo:after{
  content: "";
  display: block;
  width: rem(295);
  height: 1px;
  background-color: $blue;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.common-contact__item{
}

.common-contact__address{
  font-size: rem(16);
  font-size: 1.5;
  color: $title-black;
}

.common-contact__address-item{
  margin-bottom: rem(4);
  filter: drop-shadow(0px 4px 4px #00000040);
}

.common-contact__address-item:last-child{
  margin-bottom: rem(16);
}

.common-contact__map{
  width: rem(295);
  aspect-ratio: 295 / 160;
  filter: drop-shadow(0px 4px 4px #00000040);
}

.common-contact__title-area{
  // margin-top: rem(10);
}

.common-contact__image{
  width: min(29.0666vw , rem(230));
  position: absolute;
  top: rem(54);
  right: rem(16);
  filter: drop-shadow(0px 4px 4px #00000040);
}

.common-contact__btn{

}

.common-contact__btn:before{
  filter: drop-shadow(0px 4px 4px #00000040);
}

@include mq (md){
  
.common-contact{
  padding-top: rem(140);
  padding-bottom: rem(160);
}

.common-contact__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(79) 0 rem(80);
  box-shadow: 4px 4px 10px 0px #00000040;
}

.common-contact__content{
  width: rem(522);
  margin-bottom: 0;
  padding-right: rem(78);
  margin-right: rem(80.5);
  border-right: 1px solid $blue;
}

.common-contact__logo{
  width: rem(200);
  margin: 0 auto rem(25);
  padding-bottom: rem(7.5);
  position: relative;
  filter: none;
}

.common-contact__logo:after{
  width: rem(440);
}

.common-contact__item{
  display: flex;
  justify-content: space-between;
}  

.common-contact__title{

}

.common-contact__address{
  text-align: left;
}

.common-contact__address-item{
  filter: none;
}

.common-contact__address-item:last-child{
  margin-bottom: 0;
}

.common-contact__map{
  width: rem(273);
  aspect-ratio: 273 / 148;
  filter: none;
}

.common-contact__title-area{
  // margin-bottom: rem(-4.8);
  margin-right: rem(62);
}

.common-contact__image{
  width: rem(301);
  top: rem(100);
  // right: rem(-120);
  right: -8.8%;
}

.common-contact__btn:before{
  filter: drop-shadow(0px 4px 4px #00000040);
}

}