@use "global" as *;

.common-contact {
  position: relative;
}

.common-contact__inner {
  @include mq(md){
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px 0px #00000040;
    padding-top: rem(80);
    padding-bottom: rem(79);
  }
}

.common-contact__content {
  margin-bottom: rem(34.5);
  @include mq(md){
    width: 52.96%;
    margin-bottom: 0;
    position: relative;
    padding-right: 7.6%;
    padding-left: 4.63%;
  }
}

.common-contact__content::after {
  @include mq(md){
    content: "";
    width: 1px;
    height: 100%;
    background-color: $blue;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.common-contact__logo {
  margin: 0 auto rem(17);
  position: relative;
  filter: drop-shadow(0px 4px 4px #00000040);
  text-align: center;
  width: 100%;
  @include mq(md){
    margin: 0 auto rem(23);
    padding-bottom: rem(4.5);
    position: relative;
    filter: none;
  }
}

.common-contact__logo img {
  width: 50%;
  display: inline-block;
  @include mq(md){
    width: rem(200);
  }
}

.common-contact__logo::after {
  content: "";
  display: block;
  width: rem(295);
  height: 1px;
  background-color: $blue;
  position: absolute;
  bottom: rem(-1);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  @include mq(md){
    width: 100%;
    bottom: rem(2);
  }
}

.common-contact__item {
  text-align: center;
  @include mq(md){
    display: flex;
    justify-content: center;
    gap: 4.7%;
  }
}

.common-contact__address {
  font-size: rem(16);
  color: $dark-green;
  @include mq(md){
    text-align: left;
    flex-shrink: 0;
  }
}

.common-contact__address-item {
  margin-bottom: rem(4);
  filter: drop-shadow(0px 4px 4px #00000040);
  @include mq(md){
    margin-bottom: rem(3.5);
    filter: none;
  }
}

.common-contact__address-item:last-child {
  margin-bottom: rem(16);
  @include mq(md){
    margin-bottom: 0;
  }
}

.common-contact__address-item a[href*="tel:"] {
  @include mq(md){
      pointer-events: none;
      cursor: default;
      text-decoration: none;
  }
}

.common-contact__map {
  width: rem(295);
  aspect-ratio: 295 / 160;
  filter: drop-shadow(0px 4px 4px #00000040);
  @include mq(md){
    width: min(22vw, 273px);
    aspect-ratio: 273 / 148;
    filter: none;
  }
}

.common-contact__title-area {
  @include mq(md){
    width: 47.04%;
    padding-right: rem(112);
    padding-left: rem(81);
  }
}

.common-contact__title{
  text-align: center;
}

.common-contact__title-en{
  font-family: $english-font;
  color: $dark-green;
  margin-bottom: rem(4);
  font-size: rem(80);
  line-height: 1;
  filter: drop-shadow(0px 4px 4px #00000040);
  display: inline-block;
}

.common-contact__title-en::first-letter{
  color: $blue;
  text-transform: uppercase;
}

.common-contact__title-ja{
  font-size: rem(12);
  line-height: 1.5;
  color: $blue;
  font-weight: $regular;
  filter: drop-shadow(0px 4px 4px #00000040);
  display: block;
  margin-top: rem(-10);
  margin-bottom: rem(8);
}

.common-contact__text{
  text-align: center;
  font-size: rem(14);
  color: $blue;
  line-height: calc(18 / 14);
  margin-bottom: rem(39);
  filter: drop-shadow(0px 4px 4px #00000040);
}

.common-contact__btn {
  text-align: center;
  filter: drop-shadow(0px 4px 4px #00000040);
  @include mq(md){
    filter: none;
  }
}

.common-contact::before {
  content: "";
  background: url(../images/common/fish-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(109);
  height: rem(50);
  position: absolute;
  top: rem(-26);
  right: calc(50% - min(48vw, rem(172.5)));
  filter: drop-shadow(0px 4px 4px #00000040);
  @include mq(md){
    width: rem(301);
    height: rem(138);
    top: rem(-41);
    right: calc(50% - min(48vw, rem(670)))
  }
}