@use "global" as *;

.footer{
  background-color: $blue;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq(md){
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__inner{
  margin-bottom: rem(40);
  @include mq(md){
    margin-bottom: rem(81);
  }
}

.footer__head{
  margin-bottom: rem(41);
  @include mq(md){
    display: flex;
    align-items: flex-end;
    gap: rem(40);
    margin-bottom: rem(25);
  }
}

.footer__logo{
  width: rem(120);
  margin-bottom: rem(16);
  @include mq(md){
    width: rem(200);
    margin-bottom: 0;
  }
}

.footer__logo a,
.footer__sns a{
  @include mq(md){
    transition: 0.3s;
  }
}

.footer__logo a:hover,
.footer__sns a:hover{
  @include mq(md){
    opacity: 0.6;
  }
}

.footer__sns{
  display: flex;
  gap: rem(16);
  @include mq(md){
    padding-bottom: rem(5);
  }
}

.footer__sns img{
  width: rem(24);
  @include mq(md){
    width: rem(32);
  }
}

.footer__copyright{
  font-size: rem(12);
  font-family: $english-font;
  color: $white;
  line-height: 1.5;
  text-align: center;
  @include mq(md){
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}

.footer__nav{
  grid-template-columns: 1.04fr 1fr;
  grid-column-gap: rem(16);
  grid-row-gap: rem(40);
}