@use "global" as *;

.header__nav{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  // grid-column-gap: rem(16);
  // grid-row-gap: rem(32);
}

.gnav{
  justify-items: start;
  display: grid;
}

.gnav__list{
  color: $white;
  font-size: rem(16);
  line-height: 1.125;
}

.gnav__item{
  margin-bottom: rem(24);
}

.gnav__item a{
  transition: 0.6s;
}

.gnav__item a:hover{
  opacity: 0.6;
}

.gnav__item:last-of-type{
  margin-bottom: 0;
}

.gnav__item--main{
  font-weight: $bold;
}

.gnav__item--main a{
  display: flex;
  align-items: flex-start;
  gap: rem(4);
}

.gnav__item--sub{
  margin-left: rem(22);

}

.gnav__item--mb40{
  margin-bottom: rem(40);
}

.gnav__icon{
  width: rem(18);
}

@include mq (md){
  .gnav{
    display: flex;
    gap: 11.1%;
  }

  .gnav__list:nth-of-type(3){
    order: 1;
  }
  .gnav__list:nth-of-type(2){
    order: 2;
  }
  .gnav__list:nth-of-type(4){
    order: 3;
  }
}