@use "global" as *;

.information {
  padding-top: rem(80);
  padding-bottom: rem(78);
  background-color: $pale-green;
  @include mq(md){
    padding-top: rem(102);
    padding-bottom: rem(76);
  }
}

.information__title {
  margin-bottom: rem(29);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.information__image {
  margin-bottom: rem(24);
  @include mq(md){
    width: 51%;
    margin-bottom: 0;
  }
}

.information__image img {
  aspect-ratio: 345 / 227;
  object-fit: cover;
  @include mq(md){
    aspect-ratio: 540 / 356;
  }
}

.information__content-wrapper {
  @include mq(md){
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(48);
    margin-right: rem(10);
  }
}

.information__content {
  @include mq(md){
    width: 46%;
  }
}

.information__head {
  font-size: rem(20);
  line-height: 1.2;
  color: $dark-green;
  padding-bottom: rem(3.5);
  margin-bottom: rem(7.5);
  border-bottom: 1px solid $blue;
  @include mq(md){
    font-size: rem(24);
    padding-bottom: rem(6);
    margin-bottom: rem(9);
  }
}

.information__text {
  font-size: rem(16);
  line-height: 1.5;
  color: $dark-green;
  margin-bottom: rem(40);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.information__btn{
  text-align: center;
}