@use "global" as *;

.inner-sub{
  max-width: rem(600);
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: calc(rem(700) + ($padding-pc * 2));
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}