@use "global" as *;

.main-nav__list{
  display: flex;
  color: $white;
  text-align: center;
  text-transform: capitalize;
  
}

.main-nav__link{
  display: inline-block;
  padding: 0 rem(20.1) rem(9.5);
  position: relative;
}

.main-nav__link::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - rem(40));
  height: 1px;
  background: $white;
  transition: all .3s;
  transform: translateX(-50%) scale(0, 1);
  transform-origin: center top;
}

.main-nav__link:hover::after {
  transform: translateX(-50%) scale(1, 1);
}

.main-nav__link--contact{
  padding-right: 0;
}

.main-nav__link--en{
  font-size: rem(18);
  font-family: $english-font;
  line-height: 1;
  padding-top: rem(2);
  margin-top: rem(4);
  margin-bottom: rem(6);
}

.main-nav__link--ja{
  font-size: rem(10);
  line-height: 1;
}

.main-nav__link--initial{
  text-transform: none;
}

.main-nav__link--faq{
  text-transform: uppercase;
}