@use "global" as *;

.mv {
  position: relative;
  height: min(100%, 100vh);
}

.mv__title {
  text-align: center;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 2;
}

.mv__title--big {
  font-size: rem(40);
  font-family: $english-sub-font;
  font-weight: $regular;
  letter-spacing: 0.54em;
  width: rem(248);
  text-align: center;
  color: $white;
  text-transform: uppercase;
}

.mv__title--small {
  font-size: rem(20);
  font-family: $english-font;
  color: $white;
  line-height: 1;
}

.mv__swiper {
  margin-bottom: rem(40);
}

@include mq (md) {
  .mv__title--big {
    font-size: rem(80);
    width: rem(496);
  }

  .mv__title--small {
    margin-top: rem(-2);
  }

  .mv__swiper {
    margin-bottom: rem(120);
  }
}