@use "global" as *;

.page-top {
  position: fixed;
  right: rem(15);
  z-index: 2;
  opacity: 0;
  transform: translateX(rem(150));
  @include mq(md){
    position: fixed;
    right: rem(20);
  }
}

.page-top__btn {
  text-align: center;
  display: inline-block;
  border: 1px solid $blue;
  border-radius: 50%;
  width: rem(48);
  height: rem(48);
  @include mq(md){
    background-color: $white;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: rem(80);
    height: rem(80);
  }
}

.page-top__arrow {
  vertical-align: bottom;
  display: inline-block;
  width: rem(7);
  margin-top: rem(9);
  margin-right: rem(5);
  @include mq(md){
    height: rem(41);
    margin-top: rem(20);
    margin-right: rem(5);
  }
}

#page-top.RightIn {
  animation: RightIn 0.8s forwards;
}

#page-top.RightOut {
  animation: RightOut 0.8s forwards;
}

@keyframes RightIn {
  from {
    opacity: 0;
    transform: translateX(150px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes RightOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(150px);
  }
}