@use "global" as *;

.price-list {
  @include mq(md){
    display: flex;
  }
}

.price-list__title{
  background-color: $blue;
  text-align: center;
  @include mq(md){
    max-width: rem(200);
    width: 100%;
  }
}


.price-list__title-text{
  font-size: rem(16);
  color: $white;
  line-height: 2.5;
  margin-left: rem(31);
  display: inline-block;
  position: relative;
  @include mq(md){
    line-height: 1.5;
    margin-left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: 0;
    padding-bottom: rem(70);
  }
}

.price-list__title-text::before{
  content: "";
  background-image: url(../images/common/whale-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(24);
  height: rem(24);
  position: absolute;
  left: rem(-32);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  @include mq(md){
    width: rem(64);
    height: rem(64);
    top: rem(32);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

  }
}

.price-list__list{
  width: 100%;
  border-collapse: collapse;
  @include mq(md){

  }
}
.price-list__head{
  width: 69.5%;
  height: rem(60);
  text-align: center;
  font-weight: $regular;
  color: $dark-green;
  padding: rem(6);
  @include mq(md){
    width: 64%;
    text-align: left;
    height: rem(59);
    padding-left: rem(16);
    letter-spacing: -0.026em;
  }
}

.price-list__price{
  text-align: right;
  color: $dark-green;
  width: 30.5%;
  padding: 0 rem(16) 0 0;
  @include mq(md){
    width: 30.5%;
  }
}

.price-list__head,
.price-list__price{
  vertical-align: middle;
  border: 1px solid $blue;
}
