@use "global" as *;

.price {
  background-color: $pale-green;
  padding-top: rem(80);
  padding-bottom: rem(79);
  @include mq(md){
    position: relative;
    padding-top: rem(100);
    padding-bottom: rem(98);
  }
}

.price__title {
  margin-bottom: rem(28);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.price__content {
  @include mq(md){
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: rem(80);
    display: flex;
  }
}

.price__image {
  margin-bottom: rem(40);
  @include mq(md){
    width: 45.5556%;
    margin-bottom: 0;
  }
}

.price__image img{
  aspect-ratio: 345 / 227;
  object-fit: cover;
  @include mq(md){
    aspect-ratio: 492 / 746;
  }
}

.price__list-wrapper {
  @include mq(md){
    width: 45.5556%;
  }
}

.price__list {
  margin: 0 auto rem(40);
}

.price__list-title {
  font-size: rem(16);
  font-weight: $bold;
  padding-bottom: rem(3.5);
  margin-bottom: rem(7.5);
  border-bottom: 1px solid $blue;
  color: $dark-green;
  @include mq(md){
    padding-bottom: rem(3);
    margin-bottom: rem(8.1);
  }
}

.price__list-item {
  display: flex;
  justify-content: space-between;
  gap: rem(20);
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $dark-green;
  margin-bottom: rem(8);
  @include mq(md){
    gap: rem(40);
    font-size: rem(16);
    line-height: 1.5;
  }
}

.price__list-item:last-of-type {
  margin-bottom: 0;
}

.price__list-item dt{
  @include mq(md){
  letter-spacing: 0.01em;
  }
}

.price__btn{
  text-align: center;
}

.price::before {
  @include mq(md){
    content: "";
    background: url(../images/common/fish-blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: min(30.34vw,rem(437));
    height: rem(201);
    position: absolute;
    left: calc(50% - min(48vw, rem(620)));
    bottom: min(4.23vw,rem(61));
  }
}