@use "global" as *;

.price {
  background-color: #DDF0F1;
  padding-top: rem(80);
  padding-bottom: rem(79);
  @include mq(md){
    position: relative;
    padding-top: rem(100);
    padding-bottom: rem(98);
  }
}

.price__title {
  margin-bottom: rem(28);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.price__content {
  @include mq(md){
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: rem(80);
    display: flex;
  }
}

.price__image {
  margin-bottom: rem(40);
  @include mq(md){
    width: 45.5556%;
    margin-bottom: 0;
  }
}

.price__image img{
  aspect-ratio: 345 / 227;
  object-fit: cover;
  @include mq(md){
    aspect-ratio: 492 / 746;
  }
}

.price__list-wrapper {
  @include mq(md){
    width: 45.5556%;
  }
}

.price__list {
  margin: 0 auto rem(40);
}

.price__list-title {
  font-size: rem(16);
  font-weight: $bold;
  padding-bottom: rem(3.5);
  margin-bottom: rem(7.5);
  border-bottom: 1px solid $blue;
  color: $dark-green;
  @include mq(md){
    font-size: rem(16);
    font-weight: $bold;
    padding-bottom: rem(3);
    margin-bottom: rem(8.1);
    border-bottom: 1px solid $blue;
    color: $dark-green;
  }
}

.price__list-item {
  display: flex;
  justify-content: space-between;
  gap: rem(20);
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $dark-green;
  margin-bottom: rem(8);
  @include mq(md){
    gap: rem(40);
    font-size: rem(16);
    line-height: 1.5;
  }
}

.price__list-item:last-of-type {
  margin-bottom: 0;
}

.price__list-item:last-of-type p:first-of-type {
  @include mq(md){
    letter-spacing: 0.01em;
  }
}

.price__image-bluefish {
  @include mq(md){
    width: min(30.3472vw, rem(437));
    position: absolute;
    left: calc(50% - min(48vw, rem(620)));
    bottom: rem(61);
  }
}