@use "global" as *;
.price-sub__item{
  margin-bottom: rem(40);
  @include mq(md){
    display: flex;
    margin-bottom: rem(80);
  }
}

.price-sub__item:first-of-type{
  @include mq(md){
    margin-bottom: rem(74);
  }
}

.price-sub__item:last-of-type{
  margin-bottom: 0;
  @include mq(md){
    margin-bottom: rem(0);
  }
}