@use "global" as *;

.section-title{
  text-align: center;
}

.section-title__en{
  font-family: $english-font;
  font-size: rem(32);
  line-height: 1.25;
  color: $title-black;
  margin-bottom: rem(4);
}

.section-title__ja{
  font-size: rem(12);
  line-height: 1.5;
  color: $blue;
}

.section-title__initial{
  color: $blue;
  text-transform: uppercase;
}

.section-title__text{
  font-size: rem(14);
  color: $blue;
  line-height: calc(18 / 14);
  margin-top: rem(8);
  margin-bottom: rem(40);
  filter: drop-shadow(0px 4px 4px #00000040);
}

.section-title__en--contact{
  font-size: rem(80);
  line-height: 1;
  filter: drop-shadow(0px 4px 4px #00000040);
  display: inline-block;
}

.section-title__ja--contact{
  font-weight: $regular;
  filter: drop-shadow(0px 4px 4px #00000040);
  display: block;
  margin-top: rem(-10);
}

@include mq (md){
  .section-title{
    text-align: center;
  }
  
  .section-title__en{
    font-size: rem(40);
    line-height: 1;
    margin-bottom: rem(8);
  }
  
  .section-title__ja{
    font-size: rem(12);
  }

  .section-title__en--contact{
    line-height: 1;
  }

}