@use "global" as *;

.voice__title {
  margin-bottom: rem(42);
}

.voice__card-wrapper {
  margin-bottom: rem(40);
}

.voice__btn-wrapper {
  text-align: center;
}

@include mq (md) {
  .voice {
    position: relative;
  }

  .voice__title {
    margin-bottom: rem(30);
  }

  .voice__card-wrapper {
    margin-bottom: rem(80);
  }

  .voice__image--seahorse {
    width: rem(71);
    position: absolute;
    right: calc(50% - min(48vw, rem(540)));
    bottom: rem(-64);
  }
}