@use "global" as *;

.voice-cards {
  @include mq(md){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 80px;
  }
}

.voice-cards__item {
  margin: 0 auto rem(40);
  @include mq(md){
    margin: 0;
  }
}

.voice-cards__item:last-of-type {
  margin-bottom: 0;
  @include mq(md){
    margin-bottom: 0;
  }
}